<h1>Dodaj post</h1>
<%= form_for(@post) do |f| %>
	<% @post.errors.full_messages.each do |err| %>
		<li><%= err %></li>
	<% end %>
	<%= f.label :title %>
	<%= f.text_field :title %>
	<%= f.label :content %>
	<%= f.text_area :content %>
	<%= f.submit 'Goł!' %>
<% end %>