!!!
%html
	%head
	%title Blog
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	= csrf_meta_tags
	%body
	.container-fluid
		.center-block
			%div
				-if alert
					%p
						Śliski temat: #{alert}
				-elsif notice
					%p
					Siadło: #{notice}
			= yield